@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 40, 25, 14;
  --background-end-rgb: 40, 25, 14;
  background-color: rgb(40, 25, 14);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 40, 25, 14;
    --background-end-rgb: 40, 25, 14;
    background-color: rgb(40, 25, 14);
  }
} */

body {
  color: rgb(var(--foreground-rgb));
}

p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}